<div class="atend-form">
  <div class="top-actions">
    <div class="left">
      <mat-icon routerLink="/atendimento" class="pointer arrow-back">arrow_back</mat-icon>
      <h2 *ngIf="pageType == 'Novo'">Novo atendimento</h2>
      <h2 *ngIf="pageType != 'Novo'">Editar atendimento</h2>
    </div>

    <div class="rigth buttons">
      <span *ngIf="pageType == 'Novo'" (click)="newAtend()" class="material-symbols-outlined button-forms">save</span>
      <span *ngIf="pageType != 'Novo'" (click)="editAtend()" class="material-symbols-outlined button-forms">save</span>
      <span *ngIf="pageType != 'Novo'" (click)="openConfirmationDialog()" class="material-symbols-outlined button-forms"
        [ngStyle]="{ 'background-color': '#c21f40', color: 'white' }">delete</span>
    </div>
  </div>

  <form class="form" [formGroup]="atendForm">
    <div class="general-section" fxLayoutGap="13">
      <input type="hidden" formControlName="id" />

      <mat-form-field fxFlex="22">
        <mat-label><b>Paciente</b></mat-label>
        <mat-select formControlName="id_paciente">
          <mat-option *ngFor="let patient of patients" [value]="patient.id">
            {{ patient.ds_nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="22">
        <mat-label><b>Unidade</b></mat-label>
        <mat-select formControlName="id_unidade">
          <mat-option *ngFor="let unit of units" [value]="unit.id">
            {{ unit.ds_nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="18">
        <mat-label><b>Data do atendimento</b></mat-label>
        <input matInput [matDatepicker]="pickerDtAtend" formControlName="dt_atendimento" />
        <mat-datepicker-toggle matIconSuffix [for]="pickerDtAtend"></mat-datepicker-toggle>
        <mat-datepicker #pickerDtAtend></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="16">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status_atend">
          <mat-option value="Agendado">Agendado</mat-option>
          <mat-option value="Aguardando exames">Aguardando exames</mat-option>
          <mat-option value="Realizado">Realizado</mat-option>
          <mat-option value="Cancelado">Cancelado</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-accordion class="mat-acordion complementary-section">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title>
            <h3><b>Dados Complementares</b></h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutGap="13px">
          <mat-form-field fxFlex="30">
            <mat-label>Médico responsável</mat-label>
            <input type="text" matInput #medicoInput formControlName="medico_responsavel" maxlength="60" />
            <mat-hint align="end">{{ medicoInput.value.length }}/60</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="12">
            <mat-label>Hora início</mat-label>
            <input type="time" matInput formControlName="hora_inicio" />
          </mat-form-field>

          <mat-form-field fxFlex="12">
            <mat-label>Hora fim</mat-label>
            <input type="time" matInput formControlName="hora_fim" />
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="13px">
          <mat-form-field fxFlex="27">
            <mat-label>Especialidade</mat-label>
            <input type="text" matInput #especialidadeInput formControlName="especialidade" maxlength="60">
            <mat-hint align="end">{{ especialidadeInput.value.length }}/60</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="20">
            <mat-label>Tipo de atendimento</mat-label>
            <mat-select formControlName="tipo_atendimento">
              <mat-option value="Consulta">Consulta</mat-option>
              <mat-option value="Exame">Exame</mat-option>
              <mat-option value="Procedimento">Procedimento</mat-option>
              <mat-option value="Cirurgia">Cirurgia</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="mat-acordion payment-section">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title>
            <h3><b>Dados de Pagamento</b></h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutGap="13px">
          <mat-form-field floatLabel="always" fxFlex="13">
            <mat-label>Valor do atendimento</mat-label>
            <input matInput type="number" formControlName="valor_atendimento" class="align-right" placeholder="0">
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
          </mat-form-field>

          <mat-form-field fxFlex="17">
            <mat-label>Forma de pagamento</mat-label>
            <mat-select formControlName="forma_pagamento">
              <mat-option value="Pix">Pix</mat-option>
              <mat-option value="Crédito">Crédito</mat-option>
              <mat-option value="Débito">Débito</mat-option>
              <mat-option value="Boleto">Boleto</mat-option>
              <mat-option value="Dinheiro em espécie">Dinheiro em espécie</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="13px">
          <mat-form-field fxFlex="24">
            <mat-label>Convenio</mat-label>
            <input type="text" matInput #convenioInput formControlName="convenio" maxlength="80">
            <mat-hint align="end">{{ convenioInput.value.length }}/80</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="22">
            <mat-label>Nº da carteirinha do convênio</mat-label>
            <input type="text" matInput #nrCarteirinhaInput formControlName="nr_carteirinha_convenio" mask="00000000.00"
              placeholder="00000000.00">
            <mat-hint align="end">{{ nrCarteirinhaInput.value.length }}/11</mat-hint>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <br *ngIf="atendData && atendData.dt_criacao" />
    <span *ngIf="atendData && atendData.dt_criacao" [ngStyle]="{
        'font-style': 'italic',
        'font-weight': 'bold',
        'font-family': 'system-ui',
        'text-align': 'end',
        'font-size': '0.9em'
      }">Criado em
      {{ atendData.dt_criacao | date : "dd/MM/yyyy" }}
      &nbsp;
    </span>
    <br *ngIf="atendData && atendData.dt_criacao" />
  </form>
</div>