$primary-color: #2a7869;

@media screen and (min-width: 1700px) and (min-height: 880px) {
  #right-header {
    width: 10%;
  }
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Cambria;

  .top {
    width: 100%;
    height: 34%;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    padding: 0 0.8em 0 0em;
    justify-content: space-between;

    .headerImage {
      height: 38px;
      width: 38px;
      border-radius: 50%;
      margin-right: -15px;
    }

    #logo {
      width: 52%;
      height: 100%;
      display: flex;
      padding-left: 1.3em;
      align-items: center;
      background: linear-gradient(
        95deg,
        rgb(255, 255, 255) 33%,
        $primary-color 67%
      );

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 1.6em;
        font-family: Arial;

        img {
          width: 150px;
        }
      }
    }

    #right-header {
      height: 100%;
      width: 42%;
      display: flex;
      justify-content: flex-end;
      color: rgb(238, 238, 238);
      font-family: Arial;
      font-size: 0.9em;

      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;

        &:hover {
          cursor: pointer;
        }
      }

      mat-icon:hover {
        cursor: pointer;
      }

      #infos {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 85%;

        .user {
          height: 100%;
          width: 34%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        #notification-button {
          margin-right: 10px;
        }
      }

      #logout-icon {
        padding-left: 0.9em;
        border-left: 1px solid rgba(0, 0, 0, 0.219);
        display: flex;
        align-items: center;
      }
    }
  }

  .nav {
    width: 100%;
    height: 55%;
    background-color: rgb(248, 248, 248);
    border-top: 1px solid rgba(48, 48, 48, 0.185);
    display: flex;
    justify-content: center;
    background-color: #2a7869;
    border-bottom: 1px solid black;
    color: white;
    font-size: 1.3em;

    ul {
      height: 100%;
      display: flex;
      font-size: 1.1em;
      font-family: Roboto;

      mat-icon {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.1em;
        &:hover {
          background-color: $primary-color;
          cursor: pointer;
        }
      }

      li {
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0 0.8em;

        &:hover {
          background-color: $primary-color;
          cursor: pointer;
        }
      }
    }
  }

  .info {
    width: 100%;
    height: 45%;
    background-color: $primary-color;
  }
}
