<div class="header-nav">
  <div class="header">
    <article>
      <span>HealthCare</span>
    </article>
    <article class="right-header">
      <span class="material-symbols-outlined"> notifications </span>
      <img src="../../../assets/userImage.jpeg" />
      <span [ngStyle]="{ 'font-size': '.55em' }">{{
        user.nome + " " + user.sobrenome
        }}</span>
      <span class="material-symbols-outlined logout"> logout </span>
    </article>
  </div>

  <div class="nav">
    <span class="material-symbols-outlined" [ngStyle]="{ 'margin-bottom': '27px' }" routerLink="">
      home
    </span>
    <span routerLink="/paciente" class="material-symbols-outlined">
      personal_injury
    </span>
    <span routerLink="/unidade" class="material-symbols-outlined">
      apartment
    </span>
    <span routerLink="/atendimento" class="material-symbols-outlined">
      demography
    </span>
    <div class="adm-section" *ngIf="user.acesso === 'adm'">
      <span routerLink="/usuario" class="material-symbols-outlined">
        manage_accounts
      </span>
    </div>
  </div>
</div>