<div class="header">
  <div class="top">
    <div id="logo">
      <a routerLink="/">
        <span [ngStyle]="{ color: 'rgb(81, 180, 125)', 'font-weight': 'bold' }"
          >Spin</span
        >
        <span [ngStyle]="{ color: 'rgb(218, 123, 30)' }"
          >Care
          <span [ngStyle]="{ 'font-size': '.7em' }"
            >- <span [ngStyle]="{ 'font-weight': 'bold' }">Enterprise</span>
          </span>
        </span>
      </a>
    </div>
    <div id="right-header">
      <div id="infos">
        <mat-icon id="notification-button">notifications</mat-icon>
        <img
          src="../../../assets/enterpriseImage.png"
          alt="Logotipo da empresa"
          class="headerImage"
        />
        <span [ngStyle]="{ cursor: 'default' }">SpinCare - Matriz</span>
        <!-- <div> -->
        <img
          src="../../../assets/userImage.jpeg"
          alt="Foto do usuário"
          class="headerImage"
        />
        <span>Gabriel Hawerroth</span>
        <mat-icon [ngStyle]="{ 'margin-left': '-20px' }">expand_more</mat-icon>
        <!-- </div> -->
      </div>

      <div id="logout-icon">
        <mat-icon>logout</mat-icon>
      </div>
    </div>
  </div>

  <div class="nav">
    <mat-icon routerLink="/">home</mat-icon>
    <ul class="links">
      <li><a routerLink="/pacientes">Pacientes</a></li>
      <li><a routerLink="/unidades">Unidades</a></li>
      <li><a routerLink="/atendimentos">Atendimentos</a></li>
    </ul>
  </div>

  <div class="info"></div>
</div>
