<div class="header">
  <div class="top">
    <div id="logo">
      <a routerLink="/">
        <img src="../../../assets/enterpriseImage.png" alt="" />
        <span
          [ngStyle]="{
            'font-size': '.7em',
            color: '#ff7243',
            'margin-top': '8px',
            'margin-left': '-4px'
          }"
          >-
          <span [ngStyle]="{ 'font-weight': 'bold' }">Enterprise</span>
        </span>
      </a>
    </div>
    <div id="right-header">
      <div id="infos">
        <span class="material-symbols-outlined"> notifications </span>
        <img
          src="../../../assets/enterpriseImage.png"
          alt="Logotipo da empresa"
          class="headerImage"
        />
        <span [ngStyle]="{ cursor: 'default' }">SpinCare - Matriz</span>
        <div class="user">
          <img
            src="../../../assets/userImage.jpeg"
            alt="Foto do usuário"
            class="headerImage"
          />
          <span>Gabriel Hawerroth</span>
        </div>
        <mat-icon [ngStyle]="{ 'margin-left': '-20px' }">expand_more</mat-icon>
      </div>

      <div id="logout-icon">
        <mat-icon>logout</mat-icon>
      </div>
    </div>
  </div>

  <div class="nav">
    <ul class="links">
      <mat-icon routerLink="/">home</mat-icon>
      <li routerLink="/pacientes">Pacientes</li>
      <li routerLink="/unidades">Unidades</li>
      <li routerLink="/atendimentos">Atendimentos</li>
    </ul>
  </div>

  <div class="info"></div>
</div>
