<div class="simple-page">
    <div class="login-box">
        <div class="title">
            <span>HealthCare</span>
        </div>

        <div fxLayout="row" class="sub-title">
            <h2>Recuperação de senha</h2>
        </div>

        <form [formGroup]="resetPasswordForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="83">
                    <mat-label>Usuário</mat-label>
                    <input type="text" matInput formControlName="user" maxlength="50" autocomplete="off">
                </mat-form-field>
                <span class="material-symbols-outlined" matTooltip="O usuário deve ser um email válido"
                    matTooltipShowDelay="200">info</span>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="83">
                    <mat-label>Nova senha</mat-label>
                    <input type="password" matInput formControlName="newPassword" autocomplete="new-password">
                </mat-form-field>
                <span class="material-symbols-outlined"
                    matTooltip="A senha deve conter pelo menos 8 dígitos, 1 número e 1 letra maiúscula"
                    matTooltipShowDelay="200">info</span>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="88">
                    <mat-label>Confirme a nova senha</mat-label>
                    <input type="password" matInput formControlName="confirmNewPassword">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex="30">
                    <mat-label>Token</mat-label>
                    <input type="text" matInput mask="000000" id="typedToken">
                </mat-form-field>

                <span (click)="sendToken()" id="send-token">Solicitar token</span>
                <span class="material-symbols-outlined"
                    matTooltip="O token será enviado para o email informado no campo de usuário"
                    matTooltipShowDelay="200">info</span>
            </div>

            <div>
                <button mat-raised-button color="primary" [ngStyle]="{'padding': '23px 70px'}" (click)="resetPassword()"
                    [disabled]="resetPasswordForm.invalid">Alterar</button>
            </div>
        </form>
    </div>
</div>