<div class="pacientes-container">
  <div class="search-container">
    <form>
      <fa-icon [icon]="faSearch"></fa-icon>
      <input
        type="text"
        placeholder="Busque por um paciente"
        (input)="search($event)"
      />
    </form>
  </div>
  <div *ngIf="pacientes.length > 0; else noPatients"></div>
  <div>
    <ngx-datatable [rows]="allPacientes" [columns]="columns"> </ngx-datatable>
  </div>
  <ng-template #noPatients>
    <h1>Não há pacientes cadastrados!</h1>
    <a routerLink="/moments/new">Cadastre um novo paciente!</a>
  </ng-template>
</div>
