<div class="simple-page">
  <div class="top-actions">
    <div class="left">
      <mat-icon routerLink="/paciente" class="pointer arrow-back">arrow_back</mat-icon>
      <h2 *ngIf="pageType == 'Novo'">Novo paciente</h2>
      <h2 *ngIf="pageType != 'Novo'">Editar paciente</h2>
    </div>

    <div class="rigth buttons">
      <span *ngIf="pageType == 'Novo'" (click)="newPatient()" class="material-symbols-outlined button-forms">save</span>
      <span *ngIf="pageType != 'Novo'" (click)="editPatient()"
        class="material-symbols-outlined button-forms">save</span>
      <span *ngIf="pageType != 'Novo'" (click)="openConfirmationDialog()"
        class="material-symbols-outlined button-forms deleteButton">delete</span>
    </div>
  </div>

  <form class="form" [formGroup]="patientForm">
    <div class="general-section" fxLayoutGap="13">
      <input type="hidden" formControlName="id" />

      <mat-form-field fxFlex="30">
        <mat-label><b>Nome do paciente</b></mat-label>
        <input matInput #nomeInput type="text" maxlength="60" formControlName="dsNome" autofocus />
        <mat-hint align="end">{{ nomeInput.value.length }}/60</mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex="12">
        <mat-label><b>CPF</b></mat-label>
        <input matInput #cpfInput maxlength="14" formControlName="nr_cpf" mask="000.000.000-00" />
      </mat-form-field>

      <mat-form-field fxFlex="12">
        <mat-label><b>Nascimento</b></mat-label>
        <input matInput type="datetime" [matDatepicker]="picker" formControlName="dt_nascimento" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="12">
        <mat-label>Celular</mat-label>
        <input matInput #numeroInput maxlength="15" formControlName="nr_celular" mask="(00) 00000-0000"
          placeholder="(00) 00000-0000" />
      </mat-form-field>

      <mat-form-field fxFlex="16">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="Em captação">Em captação</mat-option>
          <mat-option value="Aguardando aprovação">Aguardando aprovação</mat-option>
          <mat-option value="Planejamento">Planejamento</mat-option>
          <mat-option value="Em atendimento">Em atendimento</mat-option>
          <mat-option value="Atendimento encerrado">Atendimento encerrado</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="12">
        <mat-label><b>Situação</b></mat-label>
        <mat-select formControlName="ieSituacao">
          <mat-option value="A">Ativo</mat-option>
          <mat-option value="I">Inativo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-accordion class="mat-acordion complementary-section">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title>
            <h3><b>Dados Complementares</b></h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex="30">
            <mat-label>Nome da mãe</mat-label>
            <input matInput #nomeMaeInput maxlength="100" formControlName="nome_mae" />
            <mat-hint align="end">{{ nomeMaeInput.value.length }}/60</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="30">
            <mat-label>Nome do pai</mat-label>
            <input matInput #nomePaiInput maxlength="60" formControlName="nome_pai" />
            <mat-hint align="end">{{ nomePaiInput.value.length }}/60</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="15">
            <mat-label>Gênero</mat-label>
            <mat-select formControlName="genero">
              <mat-option value="masculino">Masculino</mat-option>
              <mat-option value="feminino">Feminino</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="18">
            <mat-label>Estado civil</mat-label>
            <mat-select formControlName="estado_civil">
              <mat-option value="Solteiro">Solteiro(a)</mat-option>
              <mat-option value="Casado">Casado(a)</mat-option>
              <mat-option value="Viuvo">Viúvo(a)</mat-option>
              <mat-option value="Divorciado">Divorciado(a)</mat-option>
              <mat-option value="União estavel">União estável</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex="18">
            <mat-label>Nacionalidade</mat-label>
            <input matInput #nacionalidadeInput maxlength="40" formControlName="nacionalidade" />
            <mat-hint align="end">{{ nacionalidadeInput.value.length }}/40</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="14">
            <mat-label>Etnia</mat-label>
            <input matInput #etniaInput maxlength="25" formControlName="etnia" />
            <mat-hint align="end">{{ etniaInput.value.length }}/25</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="14">
            <mat-label>Religião</mat-label>
            <input matInput #religiaoInput maxlength="30" formControlName="religiao" />
            <mat-hint align="end">{{ religiaoInput.value.length }}/30</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="10">
            <mat-label>Peso (kg)</mat-label>
            <input type="number" matInput #pesoInput formControlName="peso_kg" />
            <mat-hint align="end">{{ pesoInput.value.length }}/3</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="10">
            <mat-label>Altura (cm)</mat-label>
            <input type="number" matInput #alturaInput formControlName="altura_cm" />
            <mat-hint align="end">{{ alturaInput.value.length }}/3</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="26">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput #emailInput maxlength="50" formControlName="email"
              placeholder="exemplo@gmail.com" />
            <mat-hint align="end">{{ emailInput.value.length }}/50</mat-hint>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="mat-accordion assistance-section">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title>
            <h3><b>Dados Assistenciais</b></h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex="48">
            <mat-label>Alergias</mat-label>
            <input matInput #alergiaInput maxlength="120" formControlName="alergias" />
            <mat-hint align="end">{{ alergiaInput.value.length }}/120</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="18">
            <mat-label>Dependência</mat-label>
            <mat-select formControlName="dependencia">
              <mat-option value="independente">Independente</mat-option>
              <mat-option value="requer-assistencia">Requer assistência</mat-option>
              <mat-option value="acamado">Acamado</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox formControlName="permite_atend_online">Permite atendimento on-line</mat-checkbox>
        </div>

        <div fxLayout="row" [ngStyle]="{ 'padding-bottom': '90px' }">
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>Observação/diagnóstico</mat-label>
            <textarea matInput formControlName="obs_diagnostico" [ngStyle]="{
                height: '120px',
                'max-height': '120px',
                'min-height': '120px'
              }"></textarea>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="mat-accordion service-data">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title>
            <h3><b>Dados sobre atendimento</b></h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex="18">
            <mat-label>Início do atendimento</mat-label>
            <input matInput [matDatepicker]="inicioAtendPicker" formControlName="dt_inicio_atend"
              placeholder="dd/mm/aaaa" />
            <mat-datepicker-toggle matIconSuffix [for]="inicioAtendPicker"></mat-datepicker-toggle>
            <mat-datepicker #inicioAtendPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex="18">
            <mat-label>Fim do atendimento</mat-label>
            <input matInput [matDatepicker]="fimAtendPicker" formControlName="dt_fim_atend" placeholder="dd/mm/aaaa" />
            <mat-datepicker-toggle matIconSuffix [for]="fimAtendPicker"></mat-datepicker-toggle>
            <mat-datepicker #fimAtendPicker></mat-datepicker>
          </mat-form-field>

          <mat-checkbox formControlName="estoque_empenhado">Estoque empenhado</mat-checkbox>

          <mat-checkbox formControlName="guarda_compartilhada">Guarda compartilhada</mat-checkbox>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex="15">
            <mat-label>Gênero preferencial</mat-label>
            <mat-select formControlName="genero_pref">
              <mat-option value="nenhum">Nenhum</mat-option>
              <mat-option value="masculino">Masculino</mat-option>
              <mat-option value="feminino">Feminino</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="11">
            <mat-label>Idade mínima</mat-label>
            <input type="text" matInput #idadeMinimaInput formControlName="idade_min" mask="00" />
            <mat-hint align="end">{{ idadeMinimaInput.value.length }}/2</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="11">
            <mat-label>Idade máxima</mat-label>
            <input type="text" matInput #idadeMaximaInput formControlName="idade_max" mask="00" />
            <mat-hint align="end">{{ idadeMaximaInput.value.length }}/2</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="60">
            <mat-label>Observação sobre preferências</mat-label>
            <input matInput #obsPreferenciasInput maxlength="100" formControlName="obs_preferencias" />
            <mat-hint align="end">{{ obsPreferenciasInput.value.length }}/100</mat-hint>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="mat-accordion address-data">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title>
            <h3><b>Endereço</b></h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex="10">
            <mat-label><b>CEP</b></mat-label>
            <input matInput #cepInput maxlength="9" formControlName="nr_cep" mask="00000-000"
              (change)="getAddress($event)" />
            <mat-error>CEP inválido</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="15">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
              <mat-option value="AC">Acre</mat-option>
              <mat-option value="AL">Alagoas</mat-option>
              <mat-option value="AP">Amapá</mat-option>
              <mat-option value="AM">Amazonas</mat-option>
              <mat-option value="BA">Bahia</mat-option>
              <mat-option value="CE">Ceará</mat-option>
              <mat-option value="DF">Distrito Federal</mat-option>
              <mat-option value="ES">Espírito Santo</mat-option>
              <mat-option value="GO">Goiás</mat-option>
              <mat-option value="MA">Maranhão</mat-option>
              <mat-option value="MT">Mato Grosso</mat-option>
              <mat-option value="MS">Mato Grosso do Sul</mat-option>
              <mat-option value="MG">Minas Gerais</mat-option>
              <mat-option value="PA">Pará</mat-option>
              <mat-option value="PB">Paraíba</mat-option>
              <mat-option value="PR">Paraná</mat-option>
              <mat-option value="PE">Pernambuco</mat-option>
              <mat-option value="PI">Piauí</mat-option>
              <mat-option value="RJ">Rio de Janeiro</mat-option>
              <mat-option value="RN">Rio Grande do Norte</mat-option>
              <mat-option value="RS">Rio Grande do Sul</mat-option>
              <mat-option value="RO">Rondônia</mat-option>
              <mat-option value="RR">Roraima</mat-option>
              <mat-option value="SC">Santa Catarina</mat-option>
              <mat-option value="SP">São Paulo</mat-option>
              <mat-option value="SE">Sergipe</mat-option>
              <mat-option value="TO">Tocantins</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="20">
            <mat-label>Cidade</mat-label>
            <input matInput #cidadeInput maxlength="50" formControlName="cidade" />
            <mat-hint align="end">{{ cidadeInput.value.length }}/50</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="16">
            <mat-label>Bairro</mat-label>
            <input matInput #bairroInput maxlength="30" formControlName="bairro" />
            <mat-hint align="end">{{ bairroInput.value.length }}/30</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="36">
            <mat-label>Endereço</mat-label>
            <input matInput #enderecoInput maxlength="80" formControlName="endereco" />
            <mat-hint align="end">{{ enderecoInput.value.length }}/80</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex="12">
            <mat-label>Nº do endereço</mat-label>
            <input matInput #nrEnderecoInput type="number" formControlName="nr_endereco" />
            <mat-hint align="end">{{ nrEnderecoInput.value.length }}/4</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="30">
            <mat-label>Complemento</mat-label>
            <input matInput #complementoInput maxlength="50" formControlName="complemento" />
            <mat-hint align="end">{{ complementoInput.value.length }}/50</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row" [ngStyle]="{ 'padding-bottom': '90px' }">
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>Como chegar</mat-label>
            <textarea matInput formControlName="como_chegar" [ngStyle]="{
                height: '120px',
                'max-height': '120px',
                'min-height': '120px'
              }"></textarea>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <br *ngIf="patientData && patientData.dt_criacao" />
    <span *ngIf="patientData && patientData.dt_criacao" [ngStyle]="{
        'font-style': 'italic',
        'font-weight': 'bold',
        'font-family': 'system-ui',
        'text-align': 'end',
        'font-size': '0.9em'
      }">Criado em
      {{ patientData.dt_criacao | date : "dd/MM/yyyy" }}
      &nbsp;
    </span>
    <br *ngIf="patientData && patientData.dt_criacao" />
  </form>
</div>