.simple-page {
    display: grid;
    place-items: center;
    background-color: rgba(6, 147, 109, 0.521);

    .login-box {
        .form {
            margin-top: 25px;
        }

        .content {
            display: grid;
            place-items: center;
            flex: 1;
            color: red;
        }
    }
}