<div class="unidades-container">
  <div class="filters"></div>
  <div class="table">
    <div>
      <ngx-datatable
        [rows]="units"
        class="material striped"
        [headerHeight]="48"
        [rowHeight]="52"
        [footerHeight]="50"
        [columnMode]="'force'"
        [limit]="6"
        [reorderable]="false"
        [selectAllRowsOnPage]="false"
        [messages]="{
          totalMessage: 'registros encontrados.'
        }"
        (activate)="editUnit($event)"
      >
        <ngx-datatable-column
          name="Nome"
          prop="ds_nome"
          [width]="230"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="CNPJ"
          prop="cnpj"
          [width]="120"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Cidade"
          prop="cidade"
          [width]="150"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Estado"
          prop="estado"
          [width]="90"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="E-mail"
          prop="email"
          [width]="180"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Tipo"
          prop="tipo"
          [width]="150"
        ></ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
