<div class="simple-page">
  <div class="top-actions">
    <div class="left">
      <mat-icon routerLink="/unidade" class="pointer arrow-back">arrow_back</mat-icon>
      <h2 *ngIf="pageType == 'Novo'">Nova unidade</h2>
      <h2 *ngIf="pageType != 'Novo'">Editar unidade</h2>
    </div>

    <div class="rigth buttons">
      <span *ngIf="pageType == 'Novo'" (click)="newUnit()" class="material-symbols-outlined button-forms">save</span>
      <span *ngIf="pageType != 'Novo'" (click)="editUnit()" class="material-symbols-outlined button-forms">save</span>
      <span *ngIf="pageType != 'Novo'" (click)="openConfirmationDialog()"
        class="material-symbols-outlined button-forms color-black"
        [ngStyle]="{ 'background-color': '#c21f40', color: 'white' }">delete</span>
    </div>
  </div>

  <form class="form" [formGroup]="unitForm">
    <div class="general-section" fxLayoutGap="13">
      <input type="hidden" formControlName="id" />

      <mat-form-field fxFlex="26">
        <mat-label><b>Nome da unidade</b></mat-label>
        <input matInput #nomeInput type="text" maxlength="60" formControlName="dsNome" autofocus />
        <mat-hint align="end">{{ nomeInput.value.length }}/60</mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex="15">
        <mat-label><b>CNPJ</b></mat-label>
        <input type="text" matInput #cnpjInput maxlength="18" formControlName="cnpj" mask="00.000.000/0000-00"
          placeholder="00.000.000/0000-00" />
      </mat-form-field>

      <mat-form-field fxFlex="15">
        <mat-label>Telefone</mat-label>
        <input type="text" matInput #telefoneInput maxlength="15" formControlName="nr_telefone" mask="(00) 00000-0000"
          placeholder="(00) 00000-0000" />
      </mat-form-field>

      <mat-form-field fxFlex="22">
        <mat-label><b>Email</b></mat-label>
        <input type="text" matInput #emailInput maxlength="60" formControlName="email"
          placeholder="exemplo@gmail.com" />
        <mat-hint align="end">{{ emailInput.value.length }}/60</mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex="14">
        <mat-label><b>Situação</b></mat-label>
        <mat-select formControlName="ieSituacao">
          <mat-option value="A">Ativa</mat-option>
          <mat-option value="I">Inativa</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-accordion class="mat-acordion complementary-section">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title>
            <h3><b>Dados complementares</b></h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex="20">
            <mat-label>Atendimentos simultâneos</mat-label>
            <input type="number" matInput #atendCapacityInput formControlName="capacidade_atendimento" />
            <mat-hint align="end">{{ atendCapacityInput.value.length }}/4</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="18">
            <mat-label>Horário de atendimento</mat-label>
            <input type="text" matInput #horarioAtendInput formControlName="horario_funcionamento" mask="00:00 - 00:00"
              placeholder="hh:mm - hh:mm" />
          </mat-form-field>

          <mat-form-field fxFlex="20">
            <mat-label><b>Tipo</b></mat-label>
            <mat-select formControlName="tipo">
              <mat-option value="Hospital">Hospital</mat-option>
              <mat-option value="Clínica">Clínica especializada</mat-option>
              <mat-option value="Poste de saúde">Posto de saúde</mat-option>
              <mat-option value="Atendimento domiciliar">Atendimento domiciliar</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex="90">
            <mat-label>Especialidades oferecidas</mat-label>
            <input type="text" matInput #especialidadesInput formControlName="especialidades_oferecidas" />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="mat-acordion address-section">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title>
            <h3><b>Endereço</b></h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex="10">
            <mat-label><b>CEP</b></mat-label>
            <input matInput #cepInput maxlength="9" formControlName="nr_cep" mask="00000-000" placeholder="00000-000" />
          </mat-form-field>

          <mat-form-field fxFlex="15">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
              <mat-option value=""></mat-option>
              <mat-option value="AC">Acre</mat-option>
              <mat-option value="AL">Alagoas</mat-option>
              <mat-option value="AP">Amapá</mat-option>
              <mat-option value="AM">Amazonas</mat-option>
              <mat-option value="BA">Bahia</mat-option>
              <mat-option value="CE">Ceará</mat-option>
              <mat-option value="DF">Distrito Federal</mat-option>
              <mat-option value="ES">Espírito Santo</mat-option>
              <mat-option value="GO">Goiás</mat-option>
              <mat-option value="MA">Maranhão</mat-option>
              <mat-option value="MT">Mato Grosso</mat-option>
              <mat-option value="MS">Mato Grosso do Sul</mat-option>
              <mat-option value="MG">Minas Gerais</mat-option>
              <mat-option value="PA">Pará</mat-option>
              <mat-option value="PB">Paraíba</mat-option>
              <mat-option value="PR">Paraná</mat-option>
              <mat-option value="PE">Pernambuco</mat-option>
              <mat-option value="PI">Piauí</mat-option>
              <mat-option value="RJ">Rio de Janeiro</mat-option>
              <mat-option value="RN">Rio Grande do Norte</mat-option>
              <mat-option value="RS">Rio Grande do Sul</mat-option>
              <mat-option value="RO">Rondônia</mat-option>
              <mat-option value="RR">Roraima</mat-option>
              <mat-option value="SC">Santa Catarina</mat-option>
              <mat-option value="SP">São Paulo</mat-option>
              <mat-option value="SE">Sergipe</mat-option>
              <mat-option value="TO">Tocantins</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="20">
            <mat-label>Cidade</mat-label>
            <input matInput #cidadeInput maxlength="50" formControlName="cidade" />
            <mat-hint align="end">{{ cidadeInput.value.length }}/50</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="16">
            <mat-label>Bairro</mat-label>
            <input matInput #bairroInput maxlength="30" formControlName="bairro" />
            <mat-hint align="end">{{ bairroInput.value.length }}/30</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex="36">
            <mat-label>Endereço</mat-label>
            <input matInput #enderecoInput maxlength="80" formControlName="endereco" />
            <mat-hint align="end">{{ enderecoInput.value.length }}/80</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="12">
            <mat-label>Nº do endereço</mat-label>
            <input matInput #nrEnderecoInput type="number" formControlName="nr_endereco" />
            <mat-hint align="end">{{ nrEnderecoInput.value.length }}/4</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="30">
            <mat-label>Complemento</mat-label>
            <input matInput #complementoInput maxlength="50" formControlName="complemento" />
            <mat-hint align="end">{{ complementoInput.value.length }}/50</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row" [ngStyle]="{ 'padding-bottom': '90px' }">
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>Como chegar</mat-label>
            <textarea matInput formControlName="como_chegar" [ngStyle]="{
                height: '120px',
                'max-height': '120px',
                'min-height': '120px'
              }"></textarea>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <br *ngIf="unitData && unitData.dt_criacao" />
    <span *ngIf="unitData && unitData.dt_criacao" [ngStyle]="{
        'font-style': 'italic',
        'font-weight': 'bold',
        'font-family': 'system-ui',
        'text-align': 'end',
        'font-size': '0.9em'
      }">Criado em
      {{ unitData.dt_criacao | date : "dd/MM/yyyy" }}
      &nbsp;
    </span>
    <br *ngIf="unitData && unitData.dt_criacao" />
  </form>
</div>