<div class="unidades-container">
  <div class="filters"></div>
  <div class="table">
    <div>
      <ngx-datatable
        [rows]="atends"
        class="material striped"
        [headerHeight]="48"
        [rowHeight]="52"
        [footerHeight]="50"
        [columnMode]="'force'"
        [limit]="6"
        [reorderable]="false"
        [selectAllRowsOnPage]="false"
        [messages]="{
          totalMessage: 'registros encontrados.'
        }"
        (activate)="editAtend($event)"
      >
        <ngx-datatable-column
          name="Nome do paciente"
          prop="ds_nome_paciente"
          [width]="220"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Data"
          prop="dt_atendimento"
          [width]="120"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Unidade"
          prop="ds_nome_unidade"
          [width]="190"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Especialidade"
          prop="especialidade"
          [width]="150"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Tipo"
          prop="tipo"
          [width]="150"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Status"
          prop="status_atend"
          [width]="150"
        ></ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
