<div class="unidades-container">
  <div class="search-container">
    <form>
      <fa-icon [icon]="faSearch"></fa-icon>
      <input
        type="text"
        placeholder="Busque por um atendimento"
        (input)="search($event)"
      />
    </form>
  </div>
  <div *ngIf="atends.length > 0; else noUnits"></div>
  <div>
    <ngx-datatable [rows]="allAtends" [columns]="columns"> </ngx-datatable>
  </div>
  <ng-template #noUnits>
    <h1>Não há atendimentos cadastrados!</h1>
    <a routerLink="/moments/new">Cadastre um novo atendimento!</a>
  </ng-template>
</div>
